<div class="adh-sponsors">
  <h3>Con el apoyo de de:</h3>
  <div class="adh-sponsors__container">

    <a target="_blank" href="https://www.yalochat.com" class="adh-sponsors__link big">
      <img src="images/sponsors_2019/logo_yalo.svg" class="adh-sponsor__logo">
      <!-- Yalo -->
    </a>

    <a target="_blank" href="http://cceguatemala.org/" class="adh-sponsors__link big">
      <img src="images/sponsors_2019/logo_cce.svg" class="adh-sponsor__logo">
      <!-- CCEG -->
    </a>

    <a target="_blank" href="http://cceguatemala.org/" class="adh-sponsors__link big">
      <img src="images/sponsors_2019/logo_quince_anios.svg" class="adh-sponsor__logo">
      <!-- Quince Años -->
    </a>

    <a target="_blank" href="http://cceguatemala.org/" class="adh-sponsors__link big">
      <img src="images/sponsors_2019/logo_cooperacion_espanola.svg" class="adh-sponsor__logo">
      <!-- Cooperación Española -->
    </a>

    <a target="_blank" href="http://cceguatemala.org/" class="adh-sponsors__link big">
      <img src="images/sponsors_2019/logo_pangram.svg" class="adh-sponsor__logo">
      <!-- Pangram Pangram Foundry -->
    </a>


    
    <a target="_blank" href="https://culturales.iga.edu/" class="adh-sponsors__link big">
      <img src="images/sponsors_2019/logo_arts_iga.svg" class="adh-sponsor__logo">
      <!-- IGA -->
    </a>

    <a target="_blank" href="https://www.platino.com.gt/" class="adh-sponsors__link big">
      <img src="images/sponsors_2019/logo_paiz.svg" class="adh-sponsor__logo">
      <!-- Fundación Paiz -->
    </a>

    <a target="_blank" href="https://royalestudios.com" class="adh-sponsors__link big">
      <img src="images/sponsors_2019/logo_royale_studios.svg" class="adh-sponsor__logo">
      <!-- Royale Studios -->
    </a>

    <a target="_blank" href="https://distefanoshop.com" class="adh-sponsors__link big">
      <img src="images/sponsors_2019/logo_distefano.svg" class="adh-sponsor__logo">
      <!-- Distefano -->
    </a>

    <a target="_blank" href="http://cceguatemala.org/" class="adh-sponsors__link big">
      <img src="images/sponsors_2019/logo_mayaprin.svg" class="adh-sponsor__logo">
      <!-- Mayaprin -->
    </a>

  </div>

  
  <div class="adh-sponsors__container">
    
    <a target="_blank" href="http://laerre.org" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_erre.svg" class="adh-sponsor__logo">
      <!-- La Erre -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_capital.svg" class="adh-sponsor__logo">
      <!-- Guatemala Capital Verde -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_muni_guate.svg" class="adh-sponsor__logo">
      <!-- Muni Guate -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_ana_margo.svg" class="adh-sponsor__logo">
      <!-- Ana & Margo -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_amorfo.svg" class="adh-sponsor__logo">
      <!-- Amorfo -->
    </a>

    <a target="_blank" href="http://chamba.com.gt/" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_chamba.svg" class="adh-sponsor__logo">
      <!-- Chamba -->
    </a>

    <a target="_blank" href="http://lafototeca.org" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_oeg.svg" class="adh-sponsor__logo">
      <!-- Edificio OEG -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_cohete.svg" class="adh-sponsor__logo">
      <!-- Cohete -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_join.svg" class="adh-sponsor__logo">
      <!-- Join -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_rolando_luther.svg" class="adh-sponsor__logo">
      <!-- Rolando Luther -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_arde.svg" class="adh-sponsor__logo">
      <!-- Arde -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_tegg.svg" class="adh-sponsor__logo">
      <!-- TEGG -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_gb.svg" class="adh-sponsor__logo">
      <!-- GB -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_dnl.svg" class="adh-sponsor__logo">
      <!-- DNL -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_rick_rush.svg" class="adh-sponsor__logo">
      <!-- Rick Ruch -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_onditas.svg" class="adh-sponsor__logo">
      <!-- Ondas -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_mercedes.svg" class="adh-sponsor__logo">
      <!-- Mercedes Schonfeld -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_pacheco.svg" class="adh-sponsor__logo">
      <!-- Pacheco -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_raroso.svg" class="adh-sponsor__logo">
      <!-- Raroso -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_tripa_de_coche.svg" class="adh-sponsor__logo">
      <!-- Tripa de Coche -->
    </a>

    <a target="_blank" href="#" class="adh-sponsors__link">
      <img src="images/sponsors_2019/logo_cristian_carpio.svg" class="adh-sponsor__logo">
      <!-- Cristian Carpio -->
    </a>


  </div>
</div>

<div class="adh-sumate" id="sumate">
  <h3>+ Súmate</h3>
  <p>Quieres apoyar Adherente 2019 y ayudar a promover la cultura y el diseño gráfico en Guatemala?</p>
  <a href="http://adherente.com/sumate" class="adh-sumate__button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
    Haz click aquí
  </a>
</div>

<div class="adh-footer">
  <div class="adh-footer__credits">
    <p class="adh-label adh-footer__title">
      Organizado con 
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg> 
      por:
    </p>
    <p class="adh-footer__name">Yavheni<span>DeLeón</span></p>
    <p class="adh-footer__name">Jonathan<span>Yoc</span></p><br>
    <p class="adh-footer__name">Marys<span>Davila</span></p>
    <p class="adh-footer__name">Melisa<span>Corona</span></p>
    <p class="adh-footer__name">Lucia<span>Mercedes</span></p>
    <p class="adh-footer__name">Javier<span>Castillo</span></p>
    <p class="adh-footer__name">Axel<span>Flores</span></p>
  </div>
  <div class="adh-footer__copy">
    <span class="adh-label">2019 adherente. todos los derechos reservados</span>
    <a class="adh-label" href="https://royalestudios.com/" target="_blank">Sitio por Royale Studios</a>
  </div>
</div>


@@include('../partials/scripts.html')

</body>

</html>